@model IEnumerable<OnlineHomeServices.DAL.Tbl_Service>

@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        List of Services
        <a href="../Admin/ServiceAdd" class="btn btn-info pull-right fa fa-plus">Add New</a>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped custab" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Sr. No.</th>    
                        <th>Service Name</th>
                        <th class=" text-center">Action</th>

                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Sr. No.</th>
                        <th>Service</th>
                        <th>Action</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {
                        if (item.Username == User.Identity.Name)
                        {
                            int count = 1;
                    <tr>
                        <td>@count</td>
                        <td>@item.ProductName</td>
                        <td class="text-center"><a class='btn btn-info btn-xs' @Html.ActionLink("Edit", "ServiceEdit", new { serviceId = item.ServiceId })></a> <a class="btn btn-danger btn-xs" @Html.ActionLink("Delete", "serviceDelete", new { serviceId = item.ServiceId })> </a></td>

                    </tr>
                            count++;
                        }
                    }

                </tbody>
            </table>
        </div>

    </div>
</div>