@model IEnumerable<OnlineHomeServices.DAL.Tbl_Service>

<div class="row product-container">
    @foreach (var item in Model)
    {
        <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">

            <div class="thumbnail product-item" style="height:350px">

                <img class="img-responsive" title="Click to View Product detail"
                     style="cursor:pointer;height:160px;width:100%"
                     src="~/ServiceImg/@item.ServiceImage" />


                <div class="caption">


                    <h5>@item.ProductName</h5>
                    <p>Rs. @item.Price</p>
                  

                      =
                    </div>
                </div>
            </div>
        }


</div>
